@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@plugin "daisyui";

* {
  font-family: "Outfit", sans-serif;
}

.font-playfair {
  font-family: "Playfair", serif;
}

.p:hover {
  cursor: pointer;
}
.p-child *:hover {
  cursor: pointer;
}

.show:focus * {
  display: block;
}

.hide * {
  display: none;
}

.shadow-gray {
  box-shadow: 2px 2px 5px 2px lightgray;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  opacity: 0;
}

.fade-in {
  animation: fade-in 0.2s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* áº¨n trong Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
